run = "cd backend && npm install --quiet && node server.js"
modules = ["nodejs-18:v8-20230920"]

[nix]
channel = "stable-23.05"

[deployment]
run = ["sh", "-c", "cd backend && npm install --quiet && node server.js"]

[[ports]]
localPort = 8000
externalPort = 80
